:root {
    --bg-main: #14120B;
    --bg-card: #1B1913;
    --bg-card-dark: #201E18;

    --text-main: #edecec;
    --text-muted: #999892;
    --text-muted-alt: #999896;

    --border-muted: #3E3D37;
    --accent: #F54E00;
    --bg-hover: #d4cccc;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: "Cursor Gothic", "Inter", sans-serif;
    font-size: 1rem;
    width: 100%;
    position: absolute;
    /* border: none; */
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--bg-main);
    z-index: 10;
}

.inner-header {
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

main {
    width: 70%;
    margin: 0 auto;
}

.image {
    width: 140px;
}

.container nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

.right nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.right nav ul a {
    border: 2px solid var(--border-muted);
    border-radius: 20px;
    padding: 6px 12px;
    text-decoration: none;
}

.download {

    border: none;
}

.download a {
    border: none;
    background-color: var(--text-main);
    color: var(--bg-main);
}

.download a:hover {
    background-color: var(--bg-hover);
}


.container2 {
    font-weight: lighter;
    margin-top: 165px;
    font-size: 34px;

}

.btn {
    min-width: 250px;
    min-height: 40px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 30px;
    font-size: 1rem;
    border: none;
}

button:hover {
    background-color: var(--bg-hover);
}

.img img {
    margin-top: 80px;
    border-radius: 5px;
}

.midpara {
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 105px;
    gap: 10px;
    margin-bottom: 140px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-card);
    border-radius: 5px;
}

.midpara1 {
    color: var(--text-main);
    margin-top: 220px;
    margin-bottom: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.second-image,
.third-image,
.fourth-image {
    margin-bottom: 120px;
}


.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 140px;

}


.box2 {
    background-color: var(--bg-card);
    color: var(--text-main);
    padding: 25px;
    line-height: 1.5;

    display: flex;
    flex-direction: column;

    /* height: auto;    */
}


.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;
    padding-top: 60px;
}


.profile p {
    color: var(--text-muted);
}


.container3 {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 10px;
    
}

.box3 {
    background-color: var(--bg-card-dark);
    padding: 10px;
}
.box3 p{
    color: var(--text-muted);
}
.box3 p a{
    text-decoration: none;
    color: var(--accent);
}


 .box3 img {
    max-width: 100%;
    height: auto;
    display: block;
}


.midpara2 {

    color: var(--text-main);
    margin-top: 220px;
    margin-bottom: 30px;
    font-size: 30px;
}

.midpara3 {
    color: var(--text-main);
    margin-top: 220px;
    margin-bottom: 30px;
    font-size: 26px;
}

.container4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.box4 {
    background-color: var(--bg-card);
    min-height: 20vh;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.rating {
    padding: 3px 15px;
    border: 2px solid var(--text-muted-alt);
    border-radius: 50px;
    opacity: 0.9;
    margin-right: 10px;
}

.rating,
.date {
    font-size: 15px;
    color: var(--text-muted-alt);
}

.box4 p {
    margin-top: 20px;
    font-size: 1rem;
}

.midpara4 a {
    color: var(--accent);
    text-decoration: none;
    font-size: 1rem;
}

.midpara5 {
    color: var(--text-main);
    font-size: 26px;
    margin-top: 200px;
}

.btn-2 {
    min-width: 35px;
    min-height: 20px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 70px;
    border: none;
}

.container5 {
    margin-top: 120px;
    background-color: var(--bg-card);
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100vw;
    padding: 100px 180px 30px 180px;

}

.box5 {
    font-family: "Inter", sans-serif;
    width: 35vw;
    min-height: 17vh;
    background-color: var(--bg-card-dark);
    padding: 24px;
    border-radius: 5px;
}

.box5 p {
    /* line-height: 2; */
    color: var(--text-muted);
}

.box1 {
    position: sticky;
    top: 8%;
    width: 200px;
    margin-right: auto;
}

.box6 {
    margin-top: 20px;
    padding: 0;
    background-color: var(--bg-card);
    color: var(--accent);
}




.box-2 {
    margin-top: 20px;
    background-color: var(--bg-card);
    padding: 0;
    height: 20px;
}

.box-2 a {
    text-decoration: none;
    color: var(--accent);
}

.light-color {
    color: var(--text-muted);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading p {
    margin-top: 8%;
    font-size: 80px;
}

.btn-Mac {
    font-size: 16px;
    width: 20vw;
    height: 8vh;
    border-radius: 50px;
    border: none;
}

.btn-3 {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    border: none;
}

footer {
    background-color: var(--bg-card);
    padding: 100px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 8%;
}

.items {
    line-height: 2;
}

.foot {
    color: var(--text-muted);
}

.last {
    display: flex;
    justify-content: space-between;
    color: var(--text-muted-alt);
    font-size: 20px;
}

.last pre img {
    width: 20px;
    height: 20px;
    border-radius: 90px;
}